.cardslist-container {
  display:flex;
}

.cardslist-cards, .cardslist-cardsnumber {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
}

.cardslist-card {
  flex: 1 1 200px; /* largeur de base de 200px */
  margin: 0 2px;
}
