.calculator-screen {
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
  height: 30px;
  margin: 2px;
  font-size: 36px;
}

.calculator-key-container {
  display :grid;
  grid-template-columns: repeat(3, 1fr);

}

.calculator-key {
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  margin: 2px;
}
.calculator-actions-key-container {
  display : flex;
  flex-direction: column;
  justify-content: space-between;
}
.calculator-actions-key {
  display : flex;

}

.calculator-container {
  display : flex;
}

.calculator-action-key {
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 30px 10px;
  cursor: pointer;
}
