.dice-container {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playfield-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 99vh;
}

.playfield-central-container {
  width: 100%;
  display: flex;
}

.playfield-top-container {
  height: 100px;
  width: 100%;
  background-color: red;
}

.playfield-central-area-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  background-color: #be9281;
}

.playfield-central-area-background2 {
  width: 100%;
  height: 95%;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  background-color: #924a2d;
}

.playfield-central-area-background3 {
  width: 90%;
  height: 70%;
  position: absolute;
  z-index: 4;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #713925;
}

.playfield-central-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #662808;
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 5;
  position: relative;
}

.playfield-central-area {
  width: 11vw;
  height: 8vh;
  padding: 15px 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e2bf;
  z-index: 10;
  position: relative;
}

.playfield-central-area-chrono {
  position: absolute;
  z-index: 10;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 8vw;
  height: 80px;
  border: 7px solid #662808;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #68ccea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playfield-central-area-chrono-img {
  width: 70px;
}

.pca-left {
  border: 7px solid #f2345b;
  color: #f2345b;
}

.pca-right {
  border: 7px solid #69ca00;
  color: #69ca00;
}

.pca-number {
  font-size: 66px;
  font-weight: bolder;
}

.pca-actionV2 {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  z-index: 5;
  position: relative;
}

.playfield-character-portrait-name-container {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}

.playfield-character-portrait-name-plaque {
  position: absolute;
  z-index: 11;
  height: 100%;
  width: 110%;
  -o-object-fit: cover;
     object-fit: cover;
}

.playfield-character-portrait-name {
  position: absolute;
  z-index: 12;
  font-weight: bolder;
}

.playfield-character-portrait {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  position: relative;
  z-index: 10;
}

.playfield-character-portrait-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.playfield-character-container {
  width: 25%;
  height: 46vh;
  padding: 2px 22px;
  border: 5px solid #662808;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: darkgoldenrod;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 5;
  background-color: #f2d4a4;
}

.pcc-player {
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
}

.pcc-foe {
  bottom: 0;
  left: 0;
  border-top-right-radius: 15px;
}

.playfield-character-background {
  position: absolute;
  z-index: 6;
  background-color: #eab868;
  width: 95%;
  height: 95%;
}

.playfield-character-life-container {
  border: 4px solid #a09f9f;
  width: 12.5vw;
  height: 14px;
  border-radius: 20px;
  background-color: #d6d8d6;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 4px;
  position: relative;
  z-index: 10;
}

.playfield-character-life {
  height: 14px;
  border-radius: 20px;
  background-color: rgba(83, 244, 83, 0.5960784314);
  display: flex;
  align-items: center;
  color: black;
  position: relative;
  z-index: 10;
}

.playfield-character-life-count {
  color: black;
  font-weight: 900;
  font-family: Arial;
  position: relative;
  z-index: 10;
}

.playfield-player-card {
  position: absolute;
  transition: all 0.5s ease;
  z-index: 5;
}
.playfield-player-card:hover {
  bottom: 250px;
  transform: rotate(0deg) translateX(-50%);
}

.playfield-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shop-container,
.deck-container {
  width: 25%;
  height: 46vh;
  padding: 0px 22px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #662808;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  position: relative;
  z-index: 5;
}

.deck-container {
  background-color: #a4e0f2;
}

.shop-container {
  background-color: #fed866;
}

.shop-container-background,
.deck-container-background {
  position: absolute;
  z-index: 6;
  width: 95%;
  height: 95%;
}

.shop-container-background {
  top: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  background-color: #fdbe00;
}

.deck-container-background {
  top: 0;
  left: 0;
  border-bottom-right-radius: 15px;
  background-color: #68ccea;
}

.shop-container-img {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 10;
}

.shop-container-open {
  width: 40vw;
  height: 55vh;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.shop-title {
  font-size: 30px;
  font-weight: bolder;
  height: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  position: absolute;
  z-index: 150;
  top: 70px;
  text-shadow: 1px 1px 1px whitesmoke;
}

.shop-container-effects {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  transform: scale(2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 150;
}

.shop-container-shop-img-container {
  width: 40vw;
  height: 55vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.shop-container-shop-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.playfield-central-items-container {
  height: 100%;
  width: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 10;
}

.playfield-central-items-img-container {
  height: 210px;
  width: 215px;
  position: absolute;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.playfield-central-items-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-element-1 {
  position: absolute;
  top: 75px;
  left: 19px;
  z-index: 15;
}

.item-element-2 {
  position: absolute;
  top: 75px;
  right: 19px;
  z-index: 15;
}

.item-element-3 {
  position: absolute;
  bottom: 75px;
  left: 18px;
  z-index: 15;
}

.item-element-4 {
  position: absolute;
  bottom: 75px;
  right: 19px;
  z-index: 15;
}

.calculator-container-ext {
  background-color: #a2e538;
  border: 5px solid #662808;
  width: 50%;
  height: 46vh;
  position: relative;
  z-index: 10;
}

.calculator-exterior-bottom {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 5%;
  background-color: #cff68f;
  bottom: 0;
}

.calculator-backscreen {
  position: relative;
  z-index: 11;
  padding-top: 20px;
  padding: 15px 36px;
  height: 40px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 72%;
  font-size: 50px;
  border-radius: 30px;
  background-color: #a2e538;
  border-top: 6px solid #662808;
  border-left: 6px solid #662808;
  border-right: 6px solid #662808;
}

.calculator-backscreen2 {
  position: relative;
  z-index: 11;
  padding-top: 20px;
  padding: 15px 36px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  font-size: 50px;
  background-color: #a2e538;
}

.calculator-screen-container {
  position: relative;
  z-index: 15;
  padding-top: 5px;
}

.calculator-screen {
  border: 1px solid white;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 15px 36px;
  height: 40px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  font-size: 70px;
  border-radius: 26px;
  background-color: #baebf4;
  border: 6px solid #5e5a5b;
  color: black;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
}

.calculator-key-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin-top: 50px;
}

.calculator-key {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 34px;
  height: 7vh;
  width: 4vw;
  border-radius: 15px;
  font-weight: 600;
  background-color: #65009b;
  border: 3px solid #3e2387;
  font-family: Arial;
  overflow: hidden;
}
.calculator-key:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.calculator-key-box {
  border-top: 2px solid hsla(275, 61%, 94%, 0.25);
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.2);
  width: 4vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-actions-key-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-actions-key {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-action-key-box {
  border-top: 3px solid hsla(275, 61%, 94%, 0.6);
  border-bottom: 3px solid hsla(0, 0%, 0%, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

.calculator-action-key {
  border: 4px solid #3e2387;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  margin: 15px 10px;
  padding: 0px 5px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "helvetica";
  overflow: hidden;
}
.calculator-action-key:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.cak-valider {
  background-color: #13d8c0;
}

.cak-corriger {
  background-color: #ea1c31;
}

.effet-item {
  width: 80px;
  height: 80px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 20px;
}

.effet-item-name {
  width: 80px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorchid;
  display: none;
}

.effet-item-effect {
  width: 80px;
  height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  display: none;
}

.effet-item-img {
  width: 70px;
  height: 70px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=App.css.map */