.effet-item {
  width: 80px;
  height: 80px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 20px;
}
.effet-item-name {
  width: 80px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorchid;
  display: none;
}

.effet-item-effect {
  width: 80px;
  height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
    display: none;

}

.effet-item-img {
  width: 70px;
  height: 70px;
}
