.card-container {
   width: 220px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  font-weight: bolder;
  border:3px solid white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.715);
}
