.playfield-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 97vh;
}
//////
.playfield-central-container {
  width: 100%;
  height: 48vh;
  border: 1px solid red;
  display: flex;
}

//TOP
.playfield-top-container {
  height: 100px;
  width: 100%;
  background-color: red;
}

// #BE9281 marron clair
// #924A2D marron intermediaire
// #713925 marron fonce
.playfield-central-area-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  background-color: #be9281;
}

.playfield-central-area-background2 {
  width: 100%;
  height: 95%;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  background-color: #924a2d;
}

.playfield-central-area-background3 {
  width: 90%;
  height: 60%;
  position: absolute;
  z-index: 4;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #713925;
}

.playfield-central-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #662808;
  width: 50%;
  // background-image: url("../../../public/assets/BLOC-ZONE-CALCUL.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 5;
  position: relative;
}
.playfield-central-area {
  width: 11vw;
  height: 8vh;
  padding: 15px 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e2bf;
  z-index: 10;
  position: relative;
}

.playfield-central-area-chrono {
  position: absolute;
  z-index: 10;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 8vw;
  height: 80px;
  border: 7px solid #662808;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #68ccea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playfield-central-area-chrono-img {
  width: 70px;
}

.pca-left {
  border: 7px solid #f2345b;
  color: #f2345b;
}
.pca-right {
  border: 7px solid #69ca00;
  color: #69ca00;
}

.pca-number {
  font-size: 66px;
  font-weight: bolder;
}
.pca-actionV2 {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  z-index: 5;
  position: relative;
}

////// Player
///
///
///
.playfield-character-portrait-name {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  background-image: url("../../../public/assets/PLAQUE-NOM-PERSONNAGE.png");
  background-position: center;
  // background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}
.playfield-character-portrait {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  position: relative;
  z-index: 10;
}

.playfield-character-portrait-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.playfield-character-container {
  width: 25%;
  height: 46vh;
  padding: 2px 22px;
  border: 5px solid #662808;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: darkgoldenrod;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 5;
  background-color: #f2d4a4;
}
.pcc-player {
  // background-image: url("../../../public/assets/BLOC-HERO.png");
  // background-position: left;
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
}
.pcc-foe {
  // background-image: url("../../../public/assets/BLOC-BOSS.png");
  // background-position: right;
  bottom: 0;
  left: 0;
  border-top-right-radius: 15px;
}

// Gestion du bg coté player en absolute
.playfield-character-background {
  position: absolute;
  z-index: 6;
  background-color: #eab868;
  width: 95%;
  height: 95%;
}

.playfield-character-life-container {
  border: 4px solid #a09f9f;
  width: 14vw;
  height: 14px;
  border-radius: 20px;
  background-color: #d6d8d6;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 4px;
  position: relative;
  z-index: 10;
}

.playfield-character-life {
  height: 14px;
  border-radius: 20px;
  background-color: #53f45398;
  display: flex;
  align-items: center;
  color: black;
  position: relative;
  z-index: 10;
}
.playfield-character-life-count {
  color: black;
  font-weight: 900;
  font-family: Arial;
  position: relative;
  z-index: 10;
}

///// Player

////CARDS.....
.playfield-player-card {
  position: absolute;
  transition: all 0.5s ease;
  z-index: 5;
  &:hover {
    bottom: 250px;
    transform: rotate(0deg) translateX(-50%);
  }
}

/// BOTTOM
.playfield-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48vh;
  border: 1px solid red;
}

.shop-container,
.deck-container {
  width: 25%;
  height: 46vh;
  padding: 0px 22px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #662808;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  position: relative;
  z-index: 5;
}
.deck-container {
  background-color: #a4e0f2;
}

.shop-container {
  background-color: #fed866;
}

// Gestion du bg coté player en absolute
.shop-container-background,
.deck-container-background {
  position: absolute;
  z-index: 6;
  width: 95%;
  height: 95%;
}

.shop-container-background {
  top: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  background-color: #fdbe00;
}

.deck-container-background {
  top: 0;
  left: 0;
  border-bottom-right-radius: 15px;
  background-color: #68ccea;
}

.shop-container-img {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 10;
}

.shop-container-open {
  width: 45vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.shop-title {
  font-size: 24px;
  font-weight: bolder;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 150;
}

.shop-container-effects {
  display: flex;
  transform: scale(2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 150;
}

.shop-container-shop-img-container {
  width: 45vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.shop-container-shop-img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.playfield-central-items-container {
  // display: flex;
  // flex-wrap: wrap;
  height: 210px;
  width: 215px;
  object-fit: cover;
  background-image: url("../../../public/assets/STOCKAGE-BONUS.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
}

.item-element-1 {
  position: absolute;
  top: 18px;
  left: 18px;
}
.item-element-2 {
  position: absolute;
  top: 18px;
  right: 19px;
}
.item-element-3 {
  position: absolute;
  bottom: 18px;
  left: 18px;
}
.item-element-4 {
  position: absolute;
  bottom: 18px;
  right: 19px;
}
