.playfield-container {
  width: 99vw;
  height: 99vh;
  // border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

//TOP
.playfield-top-container {
  height: 100px;
  width: 100%;
  background-color: red;
}

///ADVERSARY....
.playfield-adversary-container {
  width: 80vw;
  height: 30vh;
  border: 1px solid white;
  display: flex;
}

.playfield-adversary {
  border: 1px solid white;
  height: 30vh;
}
.adversary-area {
  border: 1px solid white;
  width: 60vw;
}
.adversary-deck {
  border: 1px solid white;
  width: 20vw;
}

////PLAYER....

.playfield-player-container {
  width: 100%;
  height: 49vh;
  display: flex;
  justify-content: space-between;
}

.playfield-player {
  // height: 30vh;
}
.player-area {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -80px;
}

.playfield-player-decks-container {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: center;
}

.playfield-player-objet-deck,
.playfield-player-objet-wastepile {
  border: 3px solid white;
  font-size: 24px;
  width: 100px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2px;
}

/////CENTRAL...
.playfield-central-container {
  display: flex;
  justify-content: center;
}

.playfield-central-area-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid #662808;
  padding: 15px 25px;
  width: 35vw;
  height: 40vh;
  background-image: url("../../../public/assets/BLOC-ZONE-CALCUL.png");
  background-repeat: no-repeat;
  background-size: 41vw 46vh;
  background-position: center;
}
.playfield-central-area {
  width: 10vw;
  height: 10vh;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e2bf;
}
.pca-left {
  border: 7px solid #f2345b;
  color: #f2345b;
}
.pca-right {
  border: 7px solid #69ca00;
  color: #69ca00;
}

.pca-number {
  font-size: 60px;
  font-weight: bolder;
}
.pca-actionV2 {
  font-size: 120px;
}

////// Player
///
///
.playfield-character-portrait {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.playfield-character-portrait-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.playfield-character-container {
  width: 20vw;
  height: 40vh;
  padding: 20px;
  border: 3px solid #662808;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: darkgoldenrod;
  background-repeat: no-repeat;
  background-size: cover;
}
.pcc-player {
  background-image: url("../../../public/assets/BLOC-HERO.png");
}
.pcc-foe {
  background-image: url("../../../public/assets/BLOC-BOSS.png");
}

.playfield-character-life-container {
  border: 3px solid #662808;
  width: 100px;
  height: 20px;
  border-radius: 20px;
  background-color: #eab868;
  display: flex;
  justify-content: left;
  align-items: center;
}

.playfield-character-life {
  height: 20px;
  border-radius: 20px;
  background-color: #53f453;
  display: flex;
  align-items: center;
  color: black;
}

///// Player

////CARDS.....
.playfield-player-card {
  position: absolute;
  transition: all 0.5s ease;
  z-index: 5;
  &:hover {
    bottom: 250px;
    transform: rotate(0deg) translateX(-50%);
  }
}

/// BOTTOM
.playfield-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.shop-container,
.deck-container {
  border: 1px solid white;
  height: 100%;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-container {
  background-image: url("../../../public/assets/BLOC-COFFRE.png");
  background-position: left;
}
.deck-container {
  background-image: url("../../../public/assets/BLOC-STOCKAGE-BONUS.png");
  background-position: right;
}

.shop-container-open {
  width: 45vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-image: url("../../../public/assets/FENETRE-SELECTION-BONUS.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.shop-title {
  font-size: 24px;
  font-weight: bolder;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.shop-container-effects {
  display: flex;
  transform: scale(2);
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

//////
.playfield-central-container {
  width: 100%;
  margin: 0 auto;
}
.playfield-central-items-container {
  display: flex;
  flex-wrap: wrap;
}
