.playfield-container {
  //   width: 99vw;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  height: 96vh;
}
//////
.playfield-central-container {
  width: 100%;
  height: 48vh;
  border: 1px solid red;
}

//TOP
.playfield-top-container {
  height: 100px;
  width: 100%;
  background-color: red;
}

.playfield-central-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #662808;
  width: 40%;
  height: 46vh;
  background-image: url("../../../public/assets/BLOC-ZONE-CALCUL.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 5;
  position: relative;
}
.playfield-central-area {
  width: 11vw;
  height: 8vh;
  padding: 15px 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e2bf;
}

.playfield-central-area-chrono {
  position: absolute;
  z-index: 5;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 8vw;
  height: 80px;
  border: 7px solid #662808;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #68ccea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playfield-central-area-chrono-img {
 width: 70px;
}

.pca-left {
  border: 7px solid #f2345b;
  color: #f2345b;
}
.pca-right {
  border: 7px solid #69ca00;
  color: #69ca00;
}

.pca-number {
  font-size: 66px;
  font-weight: bolder;
}
.pca-actionV2 {
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

////// Player
///
///
///
.playfield-character-portrait-name {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  background-image: url("../../../public/assets/PLAQUE-NOM-PERSONNAGE.png");
  background-position: center;
  // background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.playfield-character-portrait {
  width: 160px;
  height: 160px;
  margin-top: 10px;
}

.playfield-character-portrait-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.playfield-character-container {
  width: 25%;
  height: 46vh;
  padding: 2px 22px;
  border: 5px solid #662808;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: darkgoldenrod;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.pcc-player {
  background-image: url("../../../public/assets/BLOC-HERO.png");
  background-position: left;
}
.pcc-foe {
  background-image: url("../../../public/assets/BLOC-BOSS.png");
  background-position: right;
}

.playfield-character-life-container {
  border: 4px solid #a09f9f;
  width: 14vw;
  height: 14px;
  border-radius: 20px;
  background-color: #d6d8d6;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 4px;
}

.playfield-character-life {
  height: 14px;
  border-radius: 20px;
  background-color: #53f45398;
  display: flex;
  align-items: center;
  color: black;
}
.playfield-character-life-count {
  color: black;
  font-weight: 900;
  font-family: Arial;
}

///// Player

////CARDS.....
.playfield-player-card {
  position: absolute;
  transition: all 0.5s ease;
  z-index: 5;
  &:hover {
    bottom: 250px;
    transform: rotate(0deg) translateX(-50%);
  }
}

/// BOTTOM
.playfield-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48vh;
  border: 1px solid red;
}

.shop-container,
.deck-container {
  width: 25%;
  height: 46vh;
  padding: 0px 22px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #662808;
  // outline: 1px solid #662808;
  // outline-offset: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
}

.shop-container {
  background-image: url("../../../public/assets/BLOC-COFFRE.png");
  background-position: left;
}
.deck-container {
  background-image: url("../../../public/assets/BLOC-STOCKAGE-BONUS.png");
  background-position: right;
}

.shop-container-img {
  width: 200px;
  height: 200px;
}

.shop-container-open {
  width: 45vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-image: url("../../../public/assets/FENETRE-SELECTION-BONUS.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.shop-title {
  font-size: 24px;
  font-weight: bolder;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.shop-container-effects {
  display: flex;
  transform: scale(2);
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.playfield-central-items-container {
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  width: 215px;
  object-fit: cover;
  background-image: url("../../../public/assets/STOCKAGE-BONUS.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
